---
const { pathname } = Astro.url;
---

<section class="relative py-32">
  <div class="max-w-[75%] mx-auto px-8 py-12 lg:py-24">
    <div class="max-w-4xl mx-auto">
      <p class="text-base text-[#222222] mb-8" data-aos="fade-up" data-aos-delay="0">GENZEN SOLUTIONS</p>
      <h1 class="text-h1 font-normal mb-8 text-[#222222]" data-aos="fade-up" data-aos-delay="100">
        Strategic Solutions to Legacy Annihilation
      </h1>
      <p class="text-body text-[#222222] mb-12 text-xl" data-aos="fade-up" data-aos-delay="200">
        Integrated Intelligence Systems That Transform Critical Threats Into Unprecedented Advantages
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="https://adamking77.github.io/genzen-solutions/assessment/" class="btn-primary">
          Schedule Your Assessment →
        </a>
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-24" data-aos="fade-up" data-aos-delay="400">
        <div class="text-center">
          <p class="text-4xl font-normal mb-2 text-[#222222]">$200M+</p>
          <p class="text-[#222222]">Secured Negotiations</p>
        </div>
        <div class="text-center">
          <p class="text-4xl font-normal mb-2 text-[#222222]">110%</p>
          <p class="text-[#222222]">Increased Funding</p>
        </div>
        <div class="text-center">
          <p class="text-4xl font-normal mb-2 text-[#222222]">$2M+</p>
          <p class="text-[#222222]">Prevented Loses</p>
        </div>
      </div>
    </div>
  </div>
</section>
