---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AssessmentForm from "@/components/landing/AssessmentForm.astro";
import Container from "@/components/global/Container.astro";
---

<BaseLayout>
  <section class="py-16 sm:py-20">
    <Container>
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <AssessmentForm />
      </div>
    </Container>
  </section>
</BaseLayout> 